.profile-container {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}

.profile-body {
  background-color: #f7f7f7;
  width: 860px;
  position: relative;

}

.profile-main {
  display: flex;
  justify-content: space-between;
  min-height: 800px;
}

.about-info {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #dfe3ee;
}

.own-info {
  height: 475px;
}

.other-info {
  height: 300px;
}

.about-info ul {
  padding: 0 10px;
}

.about-info li {
  padding: 10px 0;
}

.about-info h3 {
  font-weight: 550;
}

.about-info input[type="text"],
.about-info input[type="date"]  {
  color: black;
  padding: 3px 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #dfe3ee;
  width: 100%
}


.about-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.about-user-save {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  background-color: #3b5998;
  padding: 3px 5px;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.about-other span {
  font-weight: 600;
}
