.profile-container {
  display: flex;
  justify-content: center;
  background-color: $light-gray;
}

.profile-body {
  background-color: $light-gray;
  width: 1000px;
  left: -100px;
  position: relative;

}

.about-info {
  width: 300px;
  background-color: $white;
  border: 1px solid $gray;
}

.own-info {
  height: 475px;
}

.other-info {
  height: 300px;
}

.about-info ul {
  padding: 0 10px;
}

.about-info li {
  padding: 10px 0;
}

.about-info h3 {
  font-weight: 550;
}

.about-info input[type="text"],
.about-info input[type="date"]  {
  color: black;
  padding: 3px 5px;
  box-sizing: border-box;
  border-bottom: 1px solid $gray;
  width: 100%
}


.about-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.about-user-save {
  color: $white;
  font-size: 14px;
  font-weight: normal;
  height: 25px;
  background-color: $dark-blue;
  padding: 3px 5px;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}
